OLLAMA_HOST=http://host.docker.internal:11434
MODEL_NAME=qwen2.5-coder:7b
PORT_BACKEND=8000
PORT_FRONTEND=3000
DB_PATH=/app/data/mentor.db

# Настройки для Облачной Ollama (если выбраны модели с суффиксом :cloud)
OLLAMA_CLOUD_HOST=http://your-cloud-ip:11434

# URL веб-приложения Google Apps Script для обхода блокировок и отправки репортов
GOOGLE_APPS_SCRIPT_URL=
